.verifierbody {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 2rem;
}

.checkinfo {
  width: 60%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin-top: 6rem;
  font-size: 18px;
}

.verifyInfo {
  width: 40%;
  padding: 6rem;
}

.checkvar {
  display: flex;
  align-items: flex-end;
}

.wg {
  font-weight: 600;
  font-size: 22px;
  min-width: 9rem;
}

.ml {
  margin-left: 1rem;
}
