.verifierbody {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 2rem;
}

.checkinfo {
  width: 60%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin-top: 6rem;
  font-size: 18px;
}

.verifyInfo {
  width: 40%;
  padding: 6rem;
  text-align: center;
}

.checkvar {
  display: flex;
  align-items: flex-end;
}

.wg {
  font-weight: 600;
  font-size: 22px;
  min-width: 9rem;
}

.ml {
  margin-left: 1rem;
}

.truew {
  margin-top: 2rem;
  font-size: 36px;
  font-weight: 800;
  color: rgb(13, 153, 13);
}

.wrongw {
  margin-top: 6rem;
  font-size: 36px;
  font-weight: 800;
  color: rgb(153, 13, 13);
}

.usebutton {
  border: 2px solid rgb(34, 83, 156);
  margin-top: 2rem;
  padding: 0.5rem;
  max-width: 8rem;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(37, 95, 172);
  color: white;
  cursor: pointer;
}
